* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body,html {
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background: #FBFBFB;
}

.topbar {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    z-index: 3;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
    padding: 0 53px;
}

.topbar nav a:hover, .topbar nav a.active {
    color: #000;
}

.social {
    float: right;
}

.social a {
    padding: 0 12px;
    opacity: 0.5;
}

.social a:hover {
    opacity: 1;
}

.socialIcon {
    height: 20px;
}

.banniere {
    background: no-repeat center center / cover url("assets/img/banniere.jpg");
    height: 595px;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main {
    background: #FFF;
    width: calc(100% - 375px);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 2;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.article {
    position: relative;
    margin: 50px;
    padding-left: 333px;
    min-height: 203px;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}

.article-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 308px;
    margin-right: 25px;
}

.article-img img {
    width: 100%;
    height: auto;
}

.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
}

.article-title {
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", sans-serif;
    margin: 0 0 15px 0;
}

.sidebar {
    position: relative;
    width: 375px;
    padding: 40px;
    font-size: 17px;
    z-index: 1;
    background: #FBFBFB;
}

.sidebar-title {
    font-size: 30px;
    color: #000;
    margin: 15px 0;
}

.sidebar-title:first-child {
    margin-top: 0
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 6px 0;
}

.sidebar li:first-child {
    padding-top: 0;
}

.sidebar li:last-child {
    padding-bottom: 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 50px 0;
}
