@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Regular.eot');
    src: url('assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('assets/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('assets/fonts/MontserratAlternates-Bold.eot');
    src: url('assets/fonts/MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MontserratAlternates-Bold.woff2') format('woff2'),
        url('assets/fonts/MontserratAlternates-Bold.woff') format('woff'),
        url('assets/fonts/MontserratAlternates-Bold.ttf') format('truetype'),
        url('assets/fonts/MontserratAlternates-Bold.svg#MontserratAlternates-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body,html {
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background: #FBFBFB;
}

.topbar {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    z-index: 3;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
    padding: 0 53px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.topbar nav a:hover, .topbar nav a.active {
    color: #000;
}

.social {
    float: right;
}

.social a {
    padding: 0 12px;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.social a:hover {
    opacity: 1;
}

.socialIcon {
    height: 20px;
}

.banniere {
    background: no-repeat center center / cover url("assets/img/banniere.jpg");
    height: 595px;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main {
    background: #FFF;
    width: calc(100% - 375px);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 2;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.article {
    position: relative;
    margin: 50px;
    padding-left: 333px;
    min-height: 203px;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}

.article-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 308px;
    margin-right: 25px;
    -webkit-transition: -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    transition: -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -o-transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s, -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    -webkit-animation: slideDown 2s;
            animation: slideDown 2s;
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

.article-img:hover {
    -webkit-transform: scale(1.1) rotate(5deg);
        -ms-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
}

.article-img img {
    width: 100%;
    height: auto;
}

.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
}

.article-title {
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", sans-serif;
    margin: 0 0 15px 0;
}

.article-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #000;
}

blockquote {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: relative;
}

blockquote::before {
    content: '“';
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 60px;
    line-height: 1.4rem;
}

blockquote::after {
    content: '”';
    position: absolute;
    bottom: -27px;
    right: 5px;
    font-size: 60px;
    line-height: 1.4rem;
}

.sidebar {
    position: relative;
    width: 375px;
    padding: 40px;
    font-size: 17px;
    z-index: 1;
    background: #FBFBFB;
}

.sidebar-title {
    font-size: 30px;
    color: #000;
    margin: 15px 0;
}

.sidebar-title:first-child {
    margin-top: 0
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: sidebarlist;
}

.sidebar li {
    padding: 6px 0;
}

/* it's better to use an ol instead of ul
but it's for testing counter */
.sidebar li ::before{
    counter-increment: sidebarlist;
    content: counter(sidebarlist) ". ";
}

.sidebar .categories li a::after{
    content: attr(data-count);
    float: right;
    background: grey;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 25px;
}

.sidebar li:first-child {
    padding-top: 0;
}

.sidebar li:last-child {
    padding-bottom: 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 50px 0;
}
